Node:
(type) c
(layer)0
	Element:body
						Node:
						(type) h2
						(layer)2
							Element:h2
								Requirements
						Node:
						(type) c
						(layer)2
							Element:p
								To implement and use the Voice Outbound and/or Inbound service, the customer should have certain resources that tyntec does not provide. This is mainly a SIP user agent implementation.
						Node:
						(type) c
						(layer)2
							Element:p
								Additionally, tyntec needs to know the static source IP address(es) of the customer‘s server(s). The reason for this is that during the setup process tyntec will white-list these IP addresses in the firewall. tyntec‘s Voice Outbound service accepts calls only from previously white-listed IP addresses, for instance. To request changes to the list of allowed IP addresses please ask tyntec’s technical support.
						Node:
						(type) c
						(layer)2
							Element:p
								Because tyntec may send SIP and RTP from different IP ranges, customers should open the necessary IP address(es) and ports communicated by tyntec in the BIO file, which is available for download in the
							Element:a
								Customer Lounge
								.
						Node:
						(type) c
						(layer)2
							Element:center
							Element:ul
							Element:li
							Element:a
								Contact
							Element:li
							Element:a
								Imprint
							Element:li
							Element:a
								Disclaimer
