Node:
(type) c
(layer)0
	Element:body
			Node:
			(type) h1
			(layer)1
				Element:h1
					System Requirements
			Node:
			(type) c
			(layer)1
				Element:span
				Element:strong
					Date Updated:
					Aug 12th 2013
			Node:
			(type) c
			(layer)1
									Node:
									(type) c
									(layer)3
										Element:h3
											api.myob.com
			Node:
			(type) c
			(layer)1
									Node:
									(type) c
									(layer)3
										Element:h3
											I want to consume the API
									Node:
									(type) c
									(layer)3
										Element:p
											The AccountRight Live API itself is built to the standard REST specification. This means a developer wishing to consume the AccountRight Live API, either on desktop or in the cloud, is
										Element:strong
											free to choose any language
											which supports
										Element:strong
											consumption of REST based web-services
											.
									Node:
									(type) c
									(layer)3
										Element:p
											These languages include (
										Element:em
											but are not limited to
											)
									Node:
									(type) c
									(layer)3
										Element:ul
										Element:li
											ASP
										Element:li
											C#
										Element:li
											.net
										Element:li
											VB
										Element:li
											Python
										Element:li
											PHP
										Element:li
											Ruby
									Node:
									(type) c
									(layer)3
										Element:ul
										Element:li
											Node.js
										Element:li
											Go
										Element:li
											Perl
										Element:li
											C++
										Element:li
											Objective C
										Element:li
											and more
									Node:
									(type) c
									(layer)3
										Element:p
											To consume the AccountRight Live API, a developer simply chooses the language & platform that works best for them and they then communicate with the API over HTTP.
			Node:
			(type) c
			(layer)1
									Node:
									(type) c
									(layer)3
										Element:h3
											Local API Service
			Node:
			(type) c
			(layer)1
									Node:
									(type) c
									(layer)3
										Element:h3
											I want to use the desktop API service
									Node:
									(type) c
									(layer)3
										Element:p
											When in the desktop environment AccountRight Live runs a local API service over HTTP (generally found at
										Element:code
											http://localhost:8080
											) which enables a local application to communicate with the locally served API.This
										Element:strong
											API service
											then in turn communicates to the AccountRight Live application.
									Node:
									(type) c
									(layer)3
										Element:p
											There are some minimum software requirements for running this
										Element:strong
											API service
											as part of AccountRight Live.
									Node:
									(type) c
									(layer)3
										Element:br
									Node:
									(type) c
									(layer)3
										Element:table
										Element:tbody
										Element:tr
										Element:td
										Element:strong
											Operating system
										Element:td
										Element:p
											Microsoft Windows 8 (32-bit or 64 bit)
										Element:br
											Microsoft Windows 7 (32-bit or 64 bit)
										Element:br
											Microsoft Windows Vista Ultimate (SP2, 32-bit only)
										Element:tr
										Element:td
										Element:p
										Element:strong
											Microsoft .NET
										Element:br
											framework
										Element:td
											Version 4.5
									Node:
									(type) c
									(layer)3
										Element:strong
											Please note
											that Microsoft Windows XP is not supported.
									Node:
									(type) c
									(layer)3
												Node:
												(type) c
												(layer)4
													Element:h4
														Clarification
												Node:
												(type) c
												(layer)4
													Element:p
														Just to clarify, you
													Element:strong
														do NOT
														need .net 4.5
													Element:strong
														to consume the API
														.
												Node:
												(type) c
												(layer)4
													Element:p
														If you wish to have the
													Element:strong
														AccountRight Live API service
														run in a local environment, this computer must have .net 4.5 in order for the API Service to run alongside AccountRight Live. Your application however can run in any language that can consume a REST based API.
			Node:
			(type) c
			(layer)1
									Node:
									(type) c
									(layer)3
										Element:h3
											API
									Node:
									(type) c
									(layer)3
										Element:ul
										Element:li
										Element:a
											Express your interest
										Element:li
										Element:a
											MYOB AccountRight API
										Element:li
										Element:a
											MYOB Essentials API
										Element:li
										Element:a
											MYOB EXO API
										Element:li
										Element:a
											MYOBapi Blog
										Element:li
										Element:a
											Google+
										Element:li
										Element:a
											MYOB Corporate
			Node:
			(type) c
			(layer)1
									Node:
									(type) c
									(layer)3
										Element:h3
											Support
									Node:
									(type) c
									(layer)3
										Element:ul
										Element:li
										Element:a
											AccountRight API Forums
										Element:li
										Element:a
											EXO API Forums
										Element:li
										Element:a
											MYOB Advanced Developer Forums
			Node:
			(type) c
			(layer)1
									Node:
									(type) c
									(layer)3
										Element:h3
											Social
									Node:
									(type) c
									(layer)3
										Element:ul
										Element:li
										Element:a
											MYOBapi on Twitter
										Element:li
										Element:a
											MYOB on Twitter
										Element:li
										Element:a
											MYOBapi on Instagram
										Element:li
										Element:a
											MYOB on GitHub
										Element:li
										Element:a
											Google+
									Node:
									(type) c
									(layer)3
										Element:img
									Node:
									(type) c
									(layer)3
										Element:p
											Copyright © 2015 MYOB Technology Pty Ltd
